
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './vars.scss';

html, body {
  height: 100%;
}

.fa-icon {
  width: auto;
  height: 1em; /* or any other relative font sizes */
  
  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}

@import "node_modules/bootstrap/scss/bootstrap";