
// Override / set color variables
$white: #fff;
$black: #414141;
$green: #09eba7;
$blue: #118AB2;
$orange: #ED6A5A;
$yellow: #ffD166;
$red: #EF476F;

// Create grayscale
$gray-dark: #292b2c;
$gray: #4C5B5C;
$gray-light: #7e7e7e;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;

$light: #f8f9fa;

// Set brand colors
$theme-colors: (
    'primary': $green,
    'success': $green,
    'info': $yellow,
    'warning': $orange,
    'danger': $red
);

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: 'IBM Plex Sans';
$text-font: $font-family-sans-serif;
$heading: $headings-font-family;